*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-size: 22px;
    background-color: rgb(199, 127, 127);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: rgb(94, 89, 89);
    height: 60px;
    font-size: 22px;
    padding: 10px, 10px, 0, 10px;
}

.highScoreLink {
    border-radius: 10px;
    background-color: rgb(199, 127, 127);
    text-decoration: none;
    border: 0;
    color:black;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.timer , .h2{
    border-radius: 10px;
    background-color: rgb(199, 127, 127);
    text-decoration: none;
    border: 0;
    color:black;
    font-size: 15px;
}

#main {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    background-color:white;
    padding: 20px;
    border: solid 3px rgb(94, 89, 89);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
    }

#start-screen {
    text-align: center;
}

#start-button{
    margin: 40px;
    align-items: center;

}

.btn {
    background-color: rgba(199, 127, 127, 0.562);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

#questions {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.choice {

  display: flex-center;
  margin: 20px 5px 20px 5px;
  font-size: 100%;
  background-color: rgb(131, 149, 149);
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 10px 20px;
  
  
}


.hide {
    display: none;
}
